/* .custom-product-cont
{
  width: 300px;
  height: 300px;
  border: 2px solid red;
  background-color: white;
  position: absolute;
  z-index: 20;
 
}

.custom-bg-box {
  border: 2px solid black;
  position: absolute;
  z-index: 15;
  width: 300px;
  height: 300px;
  top: 0;
  border-radius: 20px;
  background-color: #32cd32;
}

.custom-product-cont:hover ~ .custom-bg-box {
  transform: rotate(5deg);
} */


